<form action="/verification" method="post">
    <label for="otp">OTP</label><br></br>
    <input type="number" id="otp" name="otp"><br><br>
    <input type="number" id="phone" name="phone" value=<%= phone %> hidden><br><br>
    <input type="submit" value="Submit">
  </form> 